:root {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo-region {
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#leaderboard-region {
    flex-grow: 2;
    width: 100%;
    align-items: center;
}

#prompt-region {
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
}
